body{
    background-image: url(mcdonaldsbackground.png);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#kopf {
    width: 100%;
    position: relative;
}

#kopf h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 150px;
    position: relative;
}

#kopf p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 80px;
    position: relative;
}

.einkaufswagen {
    position: relative;
    z-index: 30;
    margin-top: -450px;
    text-align: right;
}
@media screen and (max-width: 600px){
    .einkaufswagen {
        margin-top: -350px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    .einkaufswagen {
        margin-top: -575px;
    }
}


.navi {
    position: relative;
    z-index: 20;
    text-align: left;
    font-size: 40px;
}
@media screen and (max-width: 600px){
    .navi {
        margin-top: -480px;
        font-size: 5px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    .navi {
        margin-top: -640px;
        padding-bottom: 600px;
    }
}

a {
    text-decoration: none;
    color: purple;
}

.navi a:hover {
    opacity: 0.5;
}

.einkaufswagen a:hover{
    opacity: 0.5;
}

h1 {
    color: purple;
}

.burger {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main h1{
    text-align: left;

}

@media screen and (max-width: 600px){
    .artikel {
        width: 300px;
        height: 450px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1025px){
    .artikel {
        width: 40%;
        height: 400px;
    }
}


.artikel {
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: 4%;
    float: left;
}

.artikel button {
    background-color: greenyellow;
    font-size: 100%;
    border: none;
    cursor: pointer;
}

.preis {
    font-size: 140%;
    color:red;
}

.Sonstiges {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
}

h1{
    color:purple;
    text-align: center;
}
p{
    text-align: center;
}

.bild {
    max-width: 80%;
}

footer{
    text-align: center;
}

@media screen and (max-width: 600px){
    #kopf h1 {
        font-size: 90px;
    }
}
@media screen and (max-width:600px){
    footer{
        position: fixed;
    }

}

.Sonstiges{
    float: left;
}
main style{
    display: flex;
    flex-direction: column;

}